In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('df_education.pkl', 'rb') as read_file:
    df_education = pickle.load(read_file)

In [3]:
df_education.set_index('GEO_ID')

,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings
GEO_ID,,,,
1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0
1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496
1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013
1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0
1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147
...,...,...,...,...
1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041
1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0
1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464
1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162
1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0

In [4]:
with open('df_gender_age.pkl', 'rb') as read_file:
    df_gender_age = pickle.load(read_file)

In [5]:
df_gender_age.set_index('GEO_ID')

,NAME,Total population - Sex ratio (males per 100 females)
GEO_ID,,
1400000US36061000201,"Census Tract 2.01, New York County, New York",73.7
1400000US36061000202,"Census Tract 2.02, New York County, New York",77.7
1400000US36061000500,"Census Tract 5, New York County, New York",0.0
1400000US36061000600,"Census Tract 6, New York County, New York",87.6
1400000US36061000700,"Census Tract 7, New York County, New York",83.5
...,...,...
1400000US36061030900,"Census Tract 309, New York County, New York",81.9
1400000US36061031100,"Census Tract 311, New York County, New York",0.0
1400000US36061031703,"Census Tract 317.03, New York County, New York",100.1
1400000US36061031704,"Census Tract 317.04, New York County, New York",106.3
1400000US36061031900,"Census Tract 319, New York County, New York",0.0

In [6]:
df_census = df_education.join(df_gender_age, how = "outer", rsuffix = 'r')
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,GEO_IDr,NAMEr,Total population - Sex ratio (males per 100 females)
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,NaN,NaN,NaN
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,1400000US36061000201,"Census Tract 2.01, New York County, New York",73.7
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,1400000US36061000202,"Census Tract 2.02, New York County, New York",77.7
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,1400000US36061000500,"Census Tract 5, New York County, New York",0.0
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,1400000US36061000600,"Census Tract 6, New York County, New York",87.6
...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,1400000US36061030900,"Census Tract 309, New York County, New York",81.9
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,1400000US36061031100,"Census Tract 311, New York County, New York",0.0
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,1400000US36061031703,"Census Tract 317.03, New York County, New York",100.1
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,1400000US36061031704,"Census Tract 317.04, New York County, New York",106.3
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,1400000US36061031900,"Census Tract 319, New York County, New York",0.0

In [7]:
del df_census['GEO_IDr']
del df_census['NAMEr']
df_census

,GEO_ID,NAME,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over,Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher,Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Total population - Sex ratio (males per 100 females)
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,NaN
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,73.7
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,77.7
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,0.0
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,87.6
...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,81.9
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,0.0
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,100.1
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,106.3
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,0.0

In [8]:
#fill nulls with zero
df_census.fillna(value = 0, inplace = True)

In [9]:
#create calculated field "Female Population Ratio"
df_census["Female Population Ratio"]=100/(df_census["Total population - Sex ratio (males per 100 females)"]+100)
df_census.drop(columns=["Total population - Sex ratio (males per 100 females)"], inplace = True)

In [10]:
#create calculated field "Total Female Population - 25 years and over"
df_census["Total Female Population - 25 years and over"]= df_census["Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over"]*df_census["Female Population Ratio"]

In [11]:
#create calculated field "Total Female Population - 25 years and over - w/ advanced degree"
df_census["Total Female Population - 25 years and over - w/ advanced degree"]= df_census["Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher"]*df_census["Female Population Ratio"]

In [12]:
#rename desired columns
df_census.rename(columns={"Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over":"Total Population - 25 years and over",
                          "Total - AGE BY EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher":"Total Population - 25 years and over - Advanced Degrees",
                          "Total - MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings":"Median Income - 25 years and over"},
                inplace = True)

In [13]:
df_census

,GEO_ID,NAME,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
1,1400000US36061000100,"Census Tract 1, New York County, New York",0,0,0,1.000000,0.000000,0.000000
2,1400000US36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,0.575705,1077.144502,178.468624
3,1400000US36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,0.562746,3345.526168,1137.310073
4,1400000US36061000500,"Census Tract 5, New York County, New York",0,0,0,1.000000,0.000000,0.000000
5,1400000US36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,0.533049,4271.321962,750.533049
...,...,...,...,...,...,...,...,...
284,1400000US36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,0.549753,3827.377680,754.810335
285,1400000US36061031100,"Census Tract 311, New York County, New York",0,0,0,1.000000,0.000000,0.000000
286,1400000US36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,0.499750,1881.559220,1550.724638
287,1400000US36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,0.484731,3825.981580,3450.799806
288,1400000US36061031900,"Census Tract 319, New York County, New York",0,0,0,1.000000,0.000000,0.000000

In [15]:
#prep GEO_ID field for later merge with NYC Open Data
df_census["GEO_ID"] = df_census["GEO_ID"].str[9:]

In [16]:
df_census

,GEO_ID,NAME,Total Population - 25 years and over,Total Population - 25 years and over - Advanced Degrees,Median Income - 25 years and over,Female Population Ratio,Total Female Population - 25 years and over,Total Female Population - 25 years and over - w/ advanced degree
1,36061000100,"Census Tract 1, New York County, New York",0,0,0,1.000000,0.000000,0.000000
2,36061000201,"Census Tract 2.01, New York County, New York",1871,310,29496,0.575705,1077.144502,178.468624
3,36061000202,"Census Tract 2.02, New York County, New York",5945,2021,42013,0.562746,3345.526168,1137.310073
4,36061000500,"Census Tract 5, New York County, New York",0,0,0,1.000000,0.000000,0.000000
5,36061000600,"Census Tract 6, New York County, New York",8013,1408,27147,0.533049,4271.321962,750.533049
...,...,...,...,...,...,...,...,...
284,36061030900,"Census Tract 309, New York County, New York",6962,1373,26041,0.549753,3827.377680,754.810335
285,36061031100,"Census Tract 311, New York County, New York",0,0,0,1.000000,0.000000,0.000000
286,36061031703,"Census Tract 317.03, New York County, New York",3765,3103,157464,0.499750,1881.559220,1550.724638
287,36061031704,"Census Tract 317.04, New York County, New York",7893,7119,128162,0.484731,3825.981580,3450.799806
288,36061031900,"Census Tract 319, New York County, New York",0,0,0,1.000000,0.000000,0.000000

In [17]:
df_census.to_pickle("df_census.pkl")